#gameboard {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.piece {
    margin-left: auto;
    margin-right: auto;
    
  }

.square {
    height: 50px;
    width: 50px;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 15px;
}

.beige {
    background-color: rgb(110, 110, 98)
}

.brown {
    background-color: brown;
}

.black {
    fill: black;
}

.white {
    fill: white;
}


  